<head>
  <!-- General Settings -->
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Meta Tags -->
  <title>Thrillow</title>
  <meta name="description" content="A single page real estate app using the Zillow API">
  <!-- Static Assets -->
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500" rel="stylesheet">
  <link rel="stylesheet" href="/dist/css/style.min.css" />
</head>
