<!DOCTYPE html>
<!-- General Settings -->
<html dir="ltr" lang="en-US">
{{>head}}

<body>
	<!-- Application Entry Point -->
	<div id="root"></div>
	<!-- JS Asset Imports -->
	<script type="text/javascript" src="/dist/js/vendor.min.js"></script>
	<script type="text/javascript" src="/dist/bundle/commons.js"></script>
	<script type="text/javascript" src="/dist/bundle/app.js"></script> <!-- React code bundle -->
</body>
</html>
