<!DOCTYPE html>
<!-- General Settings -->
<html dir="ltr" lang="en-US">
{{>head}}

<body>
	<!-- Application Entry Point -->
	<div id="root"></div>
	<!-- Import Google Maps API -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9K7KmWRk7qdDfknWoD-f4mGnBRvYEY7E&libraries=places"></script>
	<!-- JS Asset Imports -->
	<script type="text/javascript" src="/dist/js/vendor.min.js"></script>
	<script type="text/javascript" src="/dist/bundle/commons.js"></script>
	<script type="text/javascript" src="/dist/bundle/app.js"></script> <!-- React code bundle -->
</body>
</html>
